* {
margin:0;
padding:0;
}
h1 {
  color: white;
}
h3 {
  color: blue;
}

body {
  background-color: Black;
}

#animation {
  border: none:
  position: fixed;
  z-index: -999;
  width: 100vw;
  height: 100vw;
}
/*
.buttons {
  float: left;
  font-size: 18pt;
  list-style-type: none;
  background: red;
  padding: 20px;
  margin-right: 15px;
} */

#navigation li {
  font-size: 18pt;
  float: left;
  padding:18px;
  list-style-type: none;
  background-color: 	White;
  margin-right: 20px;
}
p {
  color: White;
}
